<div class="card mb-4">
  <div class="card-title">
      <a [routerLink]="['/records/', record.id]" >{{ record.title}}</a>  
  </div>
  <div class="card-content-wrapper">
      {{ record.content }}
  </div>
  <div>
    <h6 class="card-email text-center mb-1"><i class="fa fa-user"></i>
      {{ record.email}}
    </h6>
  </div>
  <div class="text-center" style="margin-bottom: 10px;">
    <button class="btn btn-secondary"  (click)="deleteRecord(record.id)"><i class="fa fa-trash"></i></button>
 </div>
</div>