<div>
<p>Sukurti puslapį su Angular 8.2.1, kuriame bus rodomi įrašai.
Prie kiekvieno įrašo rodyti:</p>

<ul>
  <li>Pavadinimą.</li>
  <li>Tekstą.</li>
  <li>Kada parašė.</li>
  <li>Komentarų kiekį</li>
  <li>Naujų įrašų kūrimo galimybė (pavadinimas, tekstas ir el. paštas).</li>
</ul>

Vidiniame įrašo puslapyje rodyti (paspaudus ant pavadinimo):

<ul>
  <li>Pavadinimą</li>
  <li>Tekstą</li>
  <li>Komentarų sąrašą</li>
  <li>Prie kometarų rodyti, kas ir kada juos parašė(el. paštas) </li>
  <li>Galimybė prie įrašo parašyti papildomą komentarą (tekstas ir el. paštas).</li>
</ul>

Backend'e naudoti .NET Core, duomenims saugoti gali būti naudojama SQLite.
</div>